body {
    margin: 20px;
    text-align: center; 
    background-color: cadetblue;
}

p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

nav a {
    display: inline-block;
    border-bottom: 5px solid transparent;
}

nav a img {
    width: 100px;
    height: 100px;
    display: block;
}

a.active {
    border-bottom-color: #000000;
}
